header {
    text-align: center;
    font-size: 100px;
}
body {
    background-color: 1C2A44;

}
ul {
    margin: auto;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099FFF;
    background-color: #18181B;
    box-shadow: 0 4px 8px 0, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
li {
    margin: auto;
    color: white;
    font-size: 20px;
    cursor: pointer;
    

}
li:after{
    display: block;

}
li:hover:after {
    transform: scaleX(1);
}
li:hover {
    text-decoration: underline;
}
#navMenu > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
}
#navMenu > span:not(:last-child) {
    margin-bottom: 7px;
}
#navMenu, #navMenu > span {
    transition: all .4s ease-in-out;
}
#navMenu.active{
    transition-delay: 0.8s;
    transform: rotate(45deg);
}
#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
    transition-delay: .4s;
}
#navMenu.active > span:nth-child(1) {
    transform: translate(9px);
}
#navMenu.active > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
}